@import "tailwindcss";

@theme {

   --container-container:1170px;
   --spacing-p77: 77px; 
   --text-33: 33px;
   --font-pop: "Poppins", sans-serif; 
   --font-int: "Inter", sans-serif;
   --color-primary:#FAFAFA;
   --color-secondary:#DB4444;
  

  --container-container:1170px;
  --spacing-p77: 77px; 
  --spacing-w249: 249px; 
  --text-33: 33px;
  --font-pop: "Poppins", sans-serif; 
  --font-inter: "Inter", sans-serif;
  --color-primary:#FAFAFA;
  --color-primary1:#F5F5F5;
  --color-secondary:#DB4444;
  --color-opblack:#00000080;
  --color-opblack4 :#00000066;

}
/* .one{
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(2,284px);
} */

 /* .two:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
}
.two:nth-child(2){
  grid-column-start: 3;
  grid-column-end: 5;
}

 .two:nth-child(1){
  grid-row-start: 1;
  grid-row-end: 3;
}   */

.bjj{
  color: #00000066;
}


